<header>
  <nav>
    <a href="/">
      <img src="/images/logo.svg" alt="logo" />
    </a>
  </nav>
  <form class="search" method="get" action=/searchResult>
    <label class="visuallyhidden" for="search">Search</label>
    <div class="searchContainer">
      <input name="query" type="search" id="search">
      <button type="button" class="startButton"><img src="/images/mic_empty_blue.svg" /></button>
    </div>


    <input name="include_adult" type="text" id="include_adult" value="false" hidden>
    <input name="language" type="text" id="language" value="en-US" hidden>
    <input name="page" type="text" id="page" value="1" hidden>
    <button type="submit" hidden>Search</button>
  </form>

</header>