<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/styles/style.css" />
  <script src="/scripts/script.js" defer></script>
</head>

<body>
  <h1>My watchlist</h1>
  <section>
    <h2>My Movies</h2>
    <div>
      <ul>
        <li></li>
      </ul>
    </div>
  </section>

  <section>
    <h2>My Series</h2>
    <div>
      <ul>
        <li></li>
      </ul>
    </div>
  </section>

</body>

</html>